streamlit
selenium>=4.15.0
pdfplumber
python-docx
pytesseract
pypdfium2
spacy
phonenumbers
requests
python-dotenv
pandas
docx2pdf
numpy==1.26.4
spacy==3.7.4
thinc==8.2.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
webdriver-manager
