streamlit
selenium
webdriver-manager
pdfplumber
python-docx
spacy
phonenumbers
requests
python-dotenv
pandas
docx2pdf
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
